<nav class="menu-system">
  <div class="menu-bg"></div>
  <div class="shadow-menu"></div>

  <div class="logo" (click)="scrollToProfile()">
    <img src="/assets/img/profil.png" alt="Profil" />
  </div>

  <div class="menu-items">
    <span [class.active]="activeLink === 'aboutMe'" (click)="scrollToAboutMe()">
      {{ text[activeLang].navWhyMe }}
    </span>
    <span [class.active]="activeLink === 'skills'" (click)="scrollToSkills()">
      {{ text[activeLang].navSkills }}
    </span>
    <span [class.active]="activeLink === 'myWork'" (click)="scrollToMyWork()">
      {{ text[activeLang].navMyWork }}
    </span>
    <span [class.active]="activeLink === 'contact'" (click)="scrollToContact()">
      {{ text[activeLang].navContact }}
    </span>
  </div>

  <div class="burger-menu" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>

<div class="mobile-overlay" [ngClass]="{'show': isOverlayOpen}">
  <div class="overlay-bg"></div>

  <div class="close-btn" (click)="toggleMenu()">
    <div class="line1"></div>
    <div class="line2"></div>
  </div>

  <div class="menu-items-column">
    <span [class.active]="activeLink === 'aboutMe'" (click)="onWhyMe()">
      {{ text[activeLang].navWhyMe }}
    </span>
    <span [class.active]="activeLink === 'skills'" (click)="onSkillSet()">
      {{ text[activeLang].mobileSkillSet }}
    </span>
    <span [class.active]="activeLink === 'myWork'" (click)="onMyWork()">
      {{ text[activeLang].navMyWork }}
    </span>
    <span [class.active]="activeLink === 'contact'" (click)="onContact()">
      {{ text[activeLang].mobileContact }}
    </span>

    <div class="change-language">
      <span
        [class.active]="activeLang === 'DE'"
        (click)="changeLang('DE')"
      >
        DE
      </span>
      <span>|</span>
      <span
        [class.active]="activeLang === 'EN'"
        (click)="changeLang('EN')"
      >
        EN
      </span>
    </div>
  </div>
</div>
