<div class="privacy-page">
  <div class="content">
    <div class="overlay" (click)="closeOverlay($event)">
      <div class="overlay-content" (click)="$event.stopPropagation()">

        <div class="close-button">
          <a href="#" class="close-link" (click)="closeOnX($event)">X</a>
        </div>

        <h2 class="vertical-title">
          {{ text[activeLang].title }}
        </h2>

        <div class="text-block">
          <h3>{{ text[activeLang].ownerTitle }}</h3>
          <p [innerHTML]="text[activeLang].ownerParagraph"></p>

          <h3>{{ text[activeLang].disclaimerTitle }}</h3>
          <p>{{ text[activeLang].disclaimerText }}</p>

          <h3>{{ text[activeLang].externalLinksTitle }}</h3>
          <p>{{ text[activeLang].externalLinksText }}</p>

          <h3>{{ text[activeLang].copyrightTitle }}</h3>
          <p>{{ text[activeLang].copyrightText }}</p>

          <h3>{{ text[activeLang].liabilityTitle }}</h3>
          <p>{{ text[activeLang].liabilityText }}</p>

          <h3>{{ text[activeLang].severabilityTitle }}</h3>
          <p>{{ text[activeLang].severabilityText }}</p>

          <h3>{{ text[activeLang].noWarrantiesTitle }}</h3>
          <p>{{ text[activeLang].noWarrantiesText }}</p>

          <h3>{{ text[activeLang].changesTitle }}</h3>
          <p>{{ text[activeLang].changesText }}</p>

          <h3>{{ text[activeLang].governingLawTitle }}</h3>
          <p>{{ text[activeLang].governingLawText }}</p>

          <h3>{{ text[activeLang].contactTitle }}</h3>
          <p class="mail-link" [innerHTML]="text[activeLang].contactText"></p>
        </div>
      </div>
    </div>
  </div>
</div>
