
 html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.photo {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-height: none;

  background: url("/assets/img/portfoliorullani-0.png") center center no-repeat;
  background-size: cover;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.role {
  position: absolute;
  top: 62%;
  left: 47.5%;
  margin-top: 50px;
  transform: translateX(-50%);
  z-index: 2;
  font-family: 'Quantico', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0;
  color: transparent;
  -webkit-text-stroke: 2px #B5E93B;
  text-stroke: 1px #B5E93B;
}

.name {
  position: absolute;
  top: 45.15%;
  left: 45.4%;
  transform: translateX(-50%);
  z-index: 0;
  font-family: 'Quantico', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 120%;
  letter-spacing: 0;
  color: #B5E93B;
}

.location {
  position: absolute;
  top: 70%;
  left: 46%;
  transform: translateX(-50%);
  z-index: 2;
  font-family: 'Quantico', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #B5E93B;
  display: none;
}

.arrow-right {
  position: absolute;
  bottom: 25vh;
  right: 2.5%;
  width: 113px;
  height: 38px;
  z-index: 999;
  cursor: pointer;
}


@media (max-width: 800px) {
  .photo {
    position: relative;
    width: 100%;
    height: 70vh;
    margin-top: 50px;

    background: url("/assets/img/portfoliorullani-0.png") center center no-repeat;
    background-size: cover;

    &::after {
      width: 100%;
      height: 100%;
    }
  }

  .role {
    position: static;
    transform: none;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
    color: transparent;
    -webkit-text-stroke: 1px #B5E93B;
  }

  .name {
    position: static;
    transform: none;
    font-size: 2rem;
    text-align: center;
    margin-top: -1rem;
  }

  .location {
    display: block;
    position: static;
    transform: none;
    font-size: 1.4rem;
    text-align: center;
    margin-top: -1rem;
  }

  .arrow-right {
    display: none;
  }
}

@media (min-width: 801px) {
  .photo {
    background-position: center 10%;
  }
}

@media (min-width: 801px) and (max-width: 1400px) {
  .photo {
    transform-origin: bottom center;
    left: 80px;
  }

  .name {
    left: 61.5%;
    font-size: 56px;
  }

  .role {
    top: 53%;
    left: 61.5%;
    font-size: 32px;
  }
}
