.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Bild verkleinern in Responsive */
  background-size: cover;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/* Desktop: Name, Role, Location */
.role {
  position: absolute;
  top: 59%;
  left: 46.5%;
  transform: translateX(-50%);
  z-index: 2;
  font-family: 'Quantico', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0;
  color: transparent;
  -webkit-text-stroke: 2px #B5E93B;
  text-stroke: 1px #B5E93B;
}

.name {
  position: absolute;
  top: 45.15%;
  left: 44%;
  transform: translateX(-50%);
  z-index: 0;
  font-family: 'Quantico', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 120%;
  letter-spacing: 0;
  color: #B5E93B;
}

.location {
  position: absolute;
  top: 70%;
  left: 46%;
  transform: translateX(-50%);
  z-index: 2;
  font-family: 'Quantico', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #B5E93B;
}

.arrow-right {
  position: absolute;
  right: 40px;
  bottom: 760px;
  width: 113px;
  height: 38px;
  z-index: 999;
  cursor: pointer;
}

/* ============= Responsive unter 800px => vertikales Layout ============= */
@media (max-width: 800px) {

  /* Bild nur ~70vh, damit darunter Platz für Text */
  .photo {
    position: relative;
    width: 100%;
    height: 70vh;
    background: url("/assets/img/portfoliorullani-0.png") center center no-repeat;
    background-size: cover;
    margin-top: 80px;

    &::after {
      width: 100%;
      height: 100%;
    }
  }

  /* Zuerst Role, dann Name, dann Location =>
     wir machen sie "static" in DOM-Reihenfolge
     + margin-top. */
  .role {
    position: static;
    transform: none;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
    color: transparent;
    -webkit-text-stroke: 1px #B5E93B;
  }

  .name {
    position: static;
    transform: none;
    font-size: 2rem;
    text-align: center;
    margin-top: -1rem;
  }

  .location {
    position: static;
    transform: none;
    font-size: 1.4rem;
    text-align: center;
    margin-top: -1rem;
  }

  /* Pfeil ausblenden in Responsiv */
  .arrow-right {
    display: none;
  }
}
