html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Quantico', sans-serif;
}

@font-face {
  font-family: 'Quantico';
  src: url('assets/fonts/Quantico-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quantico';
  src: url('assets/fonts/Quantico-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Quantico';
  src: url('assets/fonts/Quantico-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Quantico';
  src: url('assets/fonts/Quantico-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
