/* Global Reset / Grund-Styles */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Quantico', sans-serif;

  /* Für Desktop: horizontales Scrollen erlaubt */
  overflow-y: hidden; /* Kein vert. Scroll */
  overflow-x: auto;  /* horizontales Scrollen, falls breiter Inhalt */
}

/* Schriftarten einbinden */
@font-face {
  font-family: 'Quantico';
  src: url('assets/fonts/Quantico-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Quantico';
  src: url('assets/fonts/Quantico-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Quantico';
  src: url('assets/fonts/Quantico-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Quantico';
  src: url('assets/fonts/Quantico-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Bilder auf volle Breite begrenzen */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*
  Responsive-Anpassung unter 800px:
  Jetzt wollen wir vertikal scrollen, KEIN horizontales
*/
@media (max-width: 800px) {
  html,
  body {
    overflow-y: auto;   /* Erlaube vertikales Scrollen */
    overflow-x: hidden; /* Unterbinde horizontales Scrollen */
  }
}
