<div class="my-work-section">
  <div class="vertical-title">
    {{ text[activeLang].verticalTitle }}
  </div>

  <!-- =============== PROJEKT 1: JOIN =============== -->
  <div class="project-card">
    <div class="card-bg"></div>
    <div class="card-content">

      <div class="left-column">
        <div class="card-header">
          <div class="project-number">1</div>
          <div class="project-title">
            {{ text[activeLang].project1Title }}
          </div>
        </div>

        <!-- Always visible Info-Block -->
        <div class="info-block">
          <h4>{{ text[activeLang].project1About }}</h4>
          <p>
            {{ text[activeLang].project1AboutText }}
          </p>
        </div>

        <!-- Additional Info in expanded-content -->
        <div class="expanded-content" [class.is-expanded]="isProject1Expanded">
          <div class="info-block">
            <h4>{{ text[activeLang].project1Tech }}</h4>
            <p>{{ text[activeLang].project1TechList }}</p>
          </div>

          <div class="info-block">
            <h4>{{ text[activeLang].project1Learned }}</h4>
            <p>
              {{ text[activeLang].project1LearnedText }}
            </p>
          </div>
        </div>
      </div>

      <!-- Right section, also in expanded-content -->
      <div class="expanded-content" [class.is-expanded]="isProject1Expanded">
        <div class="right-section">
          <div class="screenshot">
            <img src="assets/img/screenshot-join.png" alt="Join Screenshot" />
          </div>
          <div class="buttons">
            <!-- GITHUB-BUTTON: Link zu deinem Repo -->
            <a
              class="btn-secondary"
              href="https://github.com/leo-rullani/join"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ text[activeLang].github }}
            </a>
            <!-- Live-Test: Button zu Link -->
            <a
              class="btn-primary"
              href="https://leorullani.com/join/"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ text[activeLang].liveTest }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Show More / Show Less Button für Projekt 1 -->
  <div class="show-more" (click)="toggleExpandCard1()">
    <ng-container *ngIf="!isProject1Expanded; else showLess1">
      {{ text[activeLang].project1ShowMore }}
      <svg width="15" height="13" viewBox="0 0 15 13" fill="none">
        <!-- Pfeil nach unten -->
        <path
          d="M0.660203 0.828544L14.8316 0.811831L8.49194 12.6392L0.660203 0.828544Z"
          fill="#B5E93B"
        />
      </svg>
    </ng-container>

    <ng-template #showLess1>
      {{ text[activeLang].project1ShowLess }}
      <svg width="15" height="13" viewBox="0 0 15 13" fill="none">
        <!-- Pfeil nach oben -->
        <path
          d="M0.629035 12.6314L8.55688 0.885022L14.7998 12.7638L0.629035 12.6314Z"
          fill="#B5E93B"
        />
      </svg>
    </ng-template>
  </div>

  <!-- =============== PROJEKT 2: EL POLLO LOCO =============== -->
  <div class="project-card">
    <div class="card-bg"></div>
    <div class="card-content">

      <div class="left-column">
        <div class="card-header">
          <div class="project-number">2</div>
          <div class="project-title">
            {{ text[activeLang].project2Title }}
          </div>
        </div>

        <!-- Always visible Info-Block -->
        <div class="info-block">
          <h4>{{ text[activeLang].project2About }}</h4>
          <p>
            {{ text[activeLang].project2AboutText }}
          </p>
        </div>

        <div class="expanded-content" [class.is-expanded]="isProject2Expanded">
          <div class="info-block">
            <h4>{{ text[activeLang].project2Tech }}</h4>
            <p>{{ text[activeLang].project2TechList }}</p>
          </div>

          <div class="info-block">
            <h4>{{ text[activeLang].project2Learned }}</h4>
            <p>
              {{ text[activeLang].project2LearnedText }}
            </p>
          </div>
        </div>
      </div>

      <div class="expanded-content" [class.is-expanded]="isProject2Expanded">
        <div class="right-section">
          <div class="screenshot">
            <img
              src="assets/img/screenshot-pollo.png"
              alt="Pollo Loco Screenshot"
            />
          </div>
          <div class="buttons">
            <!-- GITHUB-BUTTON: Link zu deinem Repo -->
            <a
              class="btn-secondary"
              href="https://github.com/leo-rullani/el_pollo_loco"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ text[activeLang].github }}
            </a>
            <!-- Live-Test: Button zu Link -->
            <a
              class="btn-primary"
              href="https://leorullani.com/el_pollo_loco/"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ text[activeLang].liveTest }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Show More / Show Less Button für Projekt 2 -->
  <div class="show-more" (click)="toggleExpandCard2()">
    <ng-container *ngIf="!isProject2Expanded; else showLess2">
      {{ text[activeLang].project2ShowMore }}
      <svg width="15" height="13" viewBox="0 0 15 13" fill="none">
        <path
          d="M0.660203 0.828544L14.8316 0.811831L8.49194 12.6392L0.660203 0.828544Z"
          fill="#B5E93B"
        />
      </svg>
    </ng-container>

    <ng-template #showLess2>
      {{ text[activeLang].project2ShowLess }}
      <svg width="15" height="13" viewBox="0 0 15 13" fill="none">
        <path
          d="M0.629035 12.6314L8.55688 0.885022L14.7998 12.7638L0.629035 12.6314Z"
          fill="#B5E93B"
        />
      </svg>
    </ng-template>
  </div>

  <!-- Desktop-Pfeil rechts -->
  <div class="arrow-right" (click)="scrollNext()">
    <svg
      width="113"
      height="38"
      viewBox="0 0 113 38"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3 16.5C1.61929 16.5 0.5 17.6193 0.5 19C0.5 20.3807 1.61929 21.5 3 21.5L3 16.5ZM111.768 20.7678C112.744 19.7914 112.744 18.2085 111.768 17.2322L95.8579 1.32232C94.8816 0.346012 93.2986 0.346012 92.3223 1.32232C91.346 2.29863 91.346 3.88155 92.3223 4.85786L106.464 19L92.3223 33.1421C91.346 34.1184 91.346 35.7014 92.3223 36.6777C93.2986 37.654 94.8816 37.654 95.8579 36.6777L111.768 20.7678ZM3 21.5L110 21.5L110 16.5L3 16.5L3 21.5Z"
        fill="#B5E93B"
      />
    </svg>
  </div>
</div>
