.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  @media (max-width: 800px) {
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.app-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 600vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(
    88.66deg,
    #000000 11.41%,
    #2C2B2B 22.29%,
    #0B0A0A 37.32%,
    #323232 58.54%,
    #0B0A0A 70.03%
  );

  background-size: 600vw 100vh;
  background-position: left;
  background-repeat: no-repeat;

  @media (max-width: 800px) {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }
}

.slide {
  flex: 0 0 100vw;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  @media (max-width: 800px) {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;

    background: linear-gradient(
      180deg,
      #000000 11.41%,
      #2C2B2B 22.29%,
      #0B0A0A 37.32%,
      #323232 58.54%,
      #0B0A0A 70.03%,
      #000000 100%
    );
  }
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  width: 113px;
  height: 40px;
  cursor: pointer;
}
