.app-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw; /* 2 Screens nebeneinander, wie du es hattest */
  height: 100vh;
  z-index: -1;

  background: linear-gradient(
    135deg,        /* Winkel */
    #1A1A1A 0%,   /* leichteres Schwarz */
    #000000 100%   /* wieder Schwarz am Ende */
  );
}
